@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Nanum+Gothic&display=swap');
* {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    margin: 0;
    padding: 0;
}
main {
    width: 600px;
    margin: 30px auto;
}
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    box-sizing: border-box;
}
table {
    width: 100%;
    border: 2px solid grey;
}
th {
    background-color: lightgoldenrodyellow;
}
#th1 {
    width: 65px;
}
#th2 {
    width: 65px;
}
#th3 {
    width: 120px;
}
#th4 {
    width: 350px
}
#input_box_wrap {
    margin: 20px auto;
    width: 560px;
    border: 1px solid;
    padding: 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
    display: none;
}
select, input {
    margin-left: 10px;
}
#tier, #type {
    margin-right: 20px;
}
.input_box {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
input, select, textarea {
    padding: 0 10px;
}
#point {
    width: 500px;
    height: 100px;
}
#point p {
    margin-top: 50px;
}
button {
    cursor: pointer;
    width: 200px;
}
#btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#plus_wrap {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
#plus {
    width: 100px;
}